simpleCrud/simpleCrud-web-app/target/
simpleCrud/simpleCrud-core/target/
simpleCrud/simpleCrud-api-data/target/
simpleCrud/.idea/
*.iml
*.ipr
*.iws
simpleCrud/simple-crud-web-app/target/
simpleCrud/simple-crud-core/target/
simpleCrud/simple-crud-api-data/target/
